/* added margin element style*/
* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}
/* added background color */
body {
    background-color: blanchedalmond;
}
/* added header style */
/* changed header color to gold */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #9070e9;
    color: gold;
}
/* added header h1 style */
header h1 {
    display: inline-block;
    font-size: 48px;
}
/* added header nav style */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* added header nav display style */
header nav {
    display: inline-block;
    margin-left: 25px;
}
/* added .projects */
.projects {
    display: wrap;
    flex-wrap: wrap;
}