/* added margin element style*/
* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}
/* added background color */
body {
    background-color: blanchedalmond;
}
/* added header style */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #9070e9;
    color: #ffffff;
}
/* added header h1 style */
header h1 {
    display: inline-block;
    font-size: 48px;
}