/* added margin element style*/
* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}
/* added background color */
/* added font family */
/* edited font family */
body {
    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* added header style */
/* changed header color to gold */
header {
    /* changed background-color and color */
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: slategray;
    color: black
}
/* added header h1 style */
header h1 {
    display: inline-block;
    font-size: 48px;
}
/* added header nav style */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* added header nav display style */
/* added ul and li */
header nav ul li{
    display: inline-block;
    margin-left: 25px;
}
/* added about-me img style */
/* added drop-shadow */
/* added border-radius */
/* changed border radius to 10px */

/* added h2 style */
h2 {
    margin: 20px;
    display: inline-block;
    font-size: 36px;
    color: black;
}
/* removed me from .about */
/* changed display to inline-block */
.about img {
    width: 15%;
    display: inline-block;
    margin: 20px;
    filter: drop-shadow(10px 10px 10px gray);
    border-radius: 10px;

}

/* added .projects */
.projects {
    display: flex;
    flex-wrap: wrap;

}
/* added .projects article */
.projects article {
    width: calc(50% - 40px);
    margin: 20px;
    
}

.projects article:first-of-type {
    width: calc(100% - 40px);
    margin: 20px;
    
}
/* added aspect-ratio to first-child img */
.projects article:first-child img {
    width: 100%;
    aspect-ratio: 16/9;
}
/* added .projects article a and a:hover */
/* changed display to block */
/* added border radius */
.projects article a {
    display: block;
    width: 100%;
    aspect-ratio: 16/9;
    overflow: hidden;
    align-items: center;
    transition: all 200ms ease-in-out; 
    filter: saturate(0) blur(5px);
    border-radius: 10px;

}

.projects article a:hover {
    filter: saturate(1);
    box-shadow: 15px 5px 15px gray;
    
}
/* added .projects article img */
.projects article img {
    display: block;
    width: 100%;
    aspect-ratio: 16/9;
}